.container
  .options
    .btn-toolbar
      .btn-group.hidden-xs


        %ul.dropdown-menu
          %li
            %a{:href => "#"} Text File (*.txt)
          %li
            %a{:href => "#"} Excel File (*.xlsx)
          %li
            %a{:href => "#"} PDF File (*.pdf)
%br
%br
  %center
  %h3.text-center Add New User
  %br
  = form_for(:user, url: admin_create_user_path(:user), html: { method: :put, :class => "form-horizontal", :id => ""}) do |f|
    .field.form-group
      .col-md-8
        .input-group
          %span.input-group-addon
            %i.fa.fa-lock
          = f.email_field :email, autofocus: true , placeholder: 'Email',:class => 'form-control'
    .field.form-group
      .col-md-8.text-center
        .input-group
          %span.input-group-addon
            %i.fa.fa-user
          = f.text_field :first_name, placeholder: 'First Name', autocomplete: "off",:class => 'form-control'
    .field.form-group
      .col-md-8.text-center
        .input-group
          %span.input-group-addon
            %i.fa.fa-user
          = f.text_field :last_name, placeholder: 'Last Name', autocomplete: "off",:class => 'form-control'

    .field.form-group
      .col-md-8.text-center
        .input-group
          %span.input-group-addon
            %i.fa.fa-user
              %center
          = f.select :name, options_for_select(@role.collect { |opt| [opt.name, opt.id] }),{:include_blank=> '---select---'},:class => 'form-control'
    %br
    %br
      .actions
        %center
          = f.submit 'Add New User', :class => 'btn btn-primary btn'
          %br/

          %i.fa.fa-arrow-left.arw
          = link_to 'Back to Dashboard', dashboard_admin_path