%body.focusedform
  .verticalcenter
    = link_to "#{Settings.base_url}" do
      =image_tag('logo-big.jpg',class: 'img brand')
    .panel.panel-primary.remove-border
      .panel-body.remove-border
        %h4.text-center{:style => "margin-bottom: 25px;"} Set Password
        = form_for(:admin, url: set_user_password_path, html: { method: :post, :class => "form-horizontal", :id => 'admin_new_user_set_pwd'}) do |f|
          -#%input{:name => "user_id", :type => "hidden", :value => "#{params[:user_id]}"}
          .field.form-group
            .col-sm-12
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock
                    %input{:name => "user_id", :type => "hidden", :value => "#{params[:user_id]}"}
                = f.password_field :pwd, autofocus: true, :placeholder => 'New password', :class =>'form-control'
          .field.form-group
            .col-sm-12
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock
                = f.password_field :password_confiramtion, autofocus: true, :placeholder => 'Confirm password', :class =>'form-control'
          .panel-footer
            %center
              .actions
                = f.submit 'Set Password', :class =>'btn btn-primary btn-block'
