-##change-password-modal.modal.fade{:role => 'dialog'}
-#  .modal-dialog
-#    .modal-content.edit-pwd-pop-up
-#      .modal-body.body-text-color
-#        .modal-popup-container
-#          .flash-container
-#            = render 'layouts/flash_message'
-#          .modal-popup-header.text-center
-#            %h2.pwd-heading-color Change password
-#          .modal-popup-body
-#            .fa.fa-times.cross-change-password
-#            = form_for(:user, url:update_password_path, method: :put, :html => {id: 'update_user_password'}  , remote: true) do |f|
-#              = devise_error_messages!
-#              .field.form-group
-#                = f.password_field :current_password, autofocus: true, autocomplete: "off", placeholder: 'Old password', class: 'form-control input-box lock-input-background-image'
-#              .field.form-group
-#                = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New password', class: 'form-control input-box lock-input-background-image'
-#              .field.form-group
-#                = f.password_field :password_confirmation, autofocus: true, autocomplete: "off", placeholder: 'Confirm new password', class: 'form-control input-box lock-input-background-image'
-#              .actions
-#                = f.submit "Change my password", class: 'btn submit-btn  '

.modal-dialog
  .modal-content
    .modal-header
      = render 'layouts/flash_message'
      = devise_error_messages!
      %h4.text-center.header-bottom-margin Change Password
    = form_for(:user, url: update_password_path, html: { method: :put, :class => "form-horizontal", :id => "update_user_password"}) do |f|
      .modal-body
        .field.form-group
          .col-sm-12
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.password_field :current_password, autofocus: true , placeholder: 'Current Password' , :class =>"form-control"
          %br/
          %br/
        .field.form-group
          .col-sm-12
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.password_field :password, placeholder: 'New Password', autocomplete: "off", :class =>"form-control"
          %br/
          %br/
        .field.form-group
          .col-sm-12
            .input-group
              %span.input-group-addon
                %i.fa.fa-lock
              = f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "off", :class =>"form-control"
      .modal-footer
        .actions
          %center
            = f.submit "Change Password", :class =>"btn btn-primary btn-block"
            %br/
            %i.fa.fa-arrow-left.arw
            = link_to 'Back to Dashboard', dashboard_home_path

